.hlavicka {
	
	position: fixed;
	left:0;
	top:0;
	width:100%;
	height: 150px;
}


.poznamka {
	position:fixed;
	right: 0;
	top: 300px;
}

.poznamka:hover{
	display: none;
}

.paticka {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100px;
}